// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');
@import "mapbox-gl/dist/mapbox-gl.css";
@import "v-mapbox/dist/v-mapbox.css";

html, body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
}

p {
  margin-bottom: 0;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.page-header {
  background-color: white;
  padding: 0.5rem 1.5rem;
  max-width: 300px;
}

.logo {
  max-width: 100%;
  width: 100px;
  height: auto;
  margin: -0.7rem 0 -1.5rem;
  z-index: 1;
}

.header-title {
  font-size: 60px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title > span {
  line-height: 0.8;
}

.header-title > span:last-of-type {
  color: #006855;
}

.header-subtitle {
  color: #006855;
  font-style: italic;
  margin-bottom: 2rem;
}

.map-container {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}

.map-component {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup-content {
  background-color: #D2F8D1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
}


.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #D2F8D1;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #D2F8D1;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #D2F8D1;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #D2F8D1;
}

.tooltip-block {
  background-color: white;
  border: 1px solid #D3D3D3;
  border-radius: 8px;

  font-size: 15px;
  padding: 0.5rem 1rem;
  
}
.tooltip-block p {
  margin-bottom: 0;
}

.tooltip-block p+p {
  margin-top: 4px;
}

.tooltip-block {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.tooltip-block > img {
  flex: none;
  margin-right: 12px;
}

.tooltip-rate {
  font-size: 30px;
  font-weight: 900;
  margin-top: 25px;
  text-align: center;
  display: flex;
  align-items: center;
}
.tooltip-rate > img {
  margin-right: 4px;
}

.header-rates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2F8D1;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: 900;
  padding: 10px 20px;
}

.rate-block p:first-of-type {
  color: #006855;
  font-size: 15px;
}
.rate-block p:last-of-type {
  color: black;
  font-size: 25px;
}

.rate-disclaimer {
  font-style: italic;
  font-size: 15px;
}

.filters-container {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem;
  margin-top: 0;
  border-radius: 8px;
  padding: 1rem;
}